{% extends 'base.html' %}

{% block content %}
    <section class="records">
        HIGHSCORE:
        <span id="highscore">{{highscore}}</span>
        <br>
        WITH <span id="plays">{{plays}}</span> PLAYS
    </section>
    <br>
    <div id="score">CURRENT SCORE:0</div>
    <table>
    {% for y in board %}
        <tr>
            {% for x in y %}
                <th>{{x}}</th>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% endblock %}

{% block usersubmit %}
    <form id="boggle-form" >
        <input type="text" id="user-guess" name="guess" 
        value="Make a guess" onfocus="this.value=''">
        <button>Submit</button>
    </form>
{% endblock %}